.name_box,
.email_box {
display: block;
margin-bottom: 4px;
}

.survey_text {
  width: 210px;
  margin-top: 100px;
  display: inline-block;
  vertical-align: middle;
}

.yes_button,
.no_button {
  vertical-align: middle;
  display: inline-block;
  margin-top: 85px;
  padding-left: 6px;
  padding-right: 6px;
}

.google_logo {
  display: block;
  margin-top: 100px;
  margin-bottom: 7px;
  margin-left: 120px;
}

.ellipse_searchbox {
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 450px;
  border-radius: 16px;
  border: none;
  box-shadow: 1px 1px 5px rgba(36, 34, 34, 0.2);
  margin-bottom: 100px;
}